*{
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-decoration: none;
}

a{
	color:#f0f8ff;
}

#container{
	margin:auto;
	width: 70%;
}

header{
	display: flex;
	padding: 40px;
	background-color:black;
	color: #e6e6fa;
}
	header h1{
		margin-right: auto;
	}

	image IMG_1163.JPG
	header ul{
		display: flex;
	}
	header li{
		width: auto;
		margin-right: 20px;
	}

section{
	padding: 40px;
	height: 500px;
	margin-bottom: 40px;
 	background: url("https://www.google.com/imgres?imgurl=https%3A%2F%2Fwww.illust-box.jp%2Fdb_img%2Fsozai%2F00007%2F70735%2Fwatermark.jpg&imgrefurl=https%3A%2F%2Fwww.illust-box.jp%2Fsozai%2F70735%2F&tbnid=3B20bDJVMZ1quM&vet=12ahUKEwjljaf4huvqAhUEJqYKHTFDCIYQMygUegUIARDPAQ..i&docid=AYagFFNRrDlf-M&w=1480&h=1106&q=無料背景&hl=ja&client=safari&ved=2ahUKEwjljaf4huvqAhUEJqYKHTFDCIYQMygUegUIARDPAQ”);
}
	section h1{
		margin-bottom: 12px;
	}
	section p {
		margin-bottom: 40px;

	}

footer{
	padding: 40px;
	background-color: #74992e;
	color: white;
}
